
{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load prices_i18n %}

{% block title %}
  {{ table_name }}
{% endblock %}

 {% block breadcrumbs %}
     <li class="active"><a href="{% url 'dashboard:room-list' %}">{{ table_name }} </a></li>
 {% endblock %}


{% block menu_addrooms_class %}active{% endblock %}

{% block custom_css %}
<link href="{% static 'backend/js/plugins/tokenize/tokenize2.css' %}" rel="stylesheet" type="text/css">

{% endblock %}
{% block content %}
<form action="#">
    <div class="panel panel-flat">


        <div class="panel-body">

            <div class="row">
                 <form id="room-form" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                <div class="col-md-6">

                        <div class="form-group">
                            <label>Room Name:</label>
                            <input required class="form-control" name="name" id="name" placeholder="Room Name" type="text">
                        </div>

                        <div class="form-group">
                            <label>Price:</label>
                            <input class="form-control" id="price" name="price" placeholder="Price" type="text">
                        </div>


                        <div class="form-group">
                            <label>Room Description:</label>
                            <textarea rows="5" cols="5" class="form-control" id="description" name="description" placeholder="Enter room description here"></textarea>
                        </div>

                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label>Amenities:</label>
                        <select class="amenities hidden" multiple></select>
                        <span class="help-block">Did'nt find what you were looking  for? Add new
                            <button type="button" id="add_new_amenities_btn" class="btn bg-primary btn-xs btn-icon legitRipple edit_modal-trigger" data-popup="tooltip" data-original-title="Add New category" href="#modal_add_category" id="add-new-category" data-title="Add New category" data-href="/dashboard/categories/add/cat32/" data-csrf="<input type='hidden' name='csrfmiddlewaretoken' value='wvYfCnxhR64GzQeHDIHSCPu6aXxPoxdwf8beDvBggbhlErTqdMlRyzpZC9SUmvdE' />" onclick="return false;">
                               <i class="icon-plus-circle2"></i>
                             </button>
                        </span>
                    </div>
                    <div id="add_new_amenities" style="display:none">
                        <label>New amenities:</label>
                        <select class="new_amenities hidden" multiple></select>
                        <button type="button" id="new_amenities_btn" class="btn bg-primary btn-xs btn-icon legitRipple edit_modal-trigger" data-popup="tooltip" data-original-title="Add New category" href="#modal_add_category" id="add-new-category" data-title="Add New category" data-href="/dashboard/categories/add/cat32/" data-csrf="<input type='hidden' name='csrfmiddlewaretoken' value='wvYfCnxhR64GzQeHDIHSCPu6aXxPoxdwf8beDvBggbhlErTqdMlRyzpZC9SUmvdE' />" onclick="return false;">
                           <i class="icon-plus-circle2"></i>Add
                        </button>
                    </div>
                </div>
            </div>

            <div class="text-right">
                <button onclick="return false;" id="add-room-btn" type="submit" class="btn btn-primary legitRipple">Submit form <i class="icon-arrow-right14 position-right"></i></button>
            </div>
            </form>
        </div>
    </div>
<input type="hidden" class="pageUrls"
       data-roomurl="{% url 'dashboard:room-list' %}"
       data-amenitiesurl="{% url 'dashboard:fetch-amenities' %}"
       data-addamenitiesurl="{% url 'dashboard:add-amenities' %}"
       data-variantdetail="{% url 'dashboard:have-variants' %}"
       data-addattrurl="{% url 'dashboard:product-attr-add' %}"
       data-addclassurlb="{% url 'dashboard:attr_list_f32d' %}"
       data-pk="{{product.pk}}"
       data-roomdata="{% url 'dashboard:room-add' %}"
       data-addclassurl="{% url 'dashboard:product-class-form32b' %}">
{% endblock%}
{% block custom_js %}
<script type="text/javascript" src="{% static 'backend/js/plugins/forms/selects/bootstrap_multiselect.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/pages/form_multiselect.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/plugins/forms/selects/bootstrap_select.min.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/room/add-room.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/plugins/tokenize/tokenize2.js' %}"></script>

{% endblock %}