{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load prices_i18n %}

{% block title %}
  {{ table_name }}
{% endblock %}

 {% block breadcrumbs %}
     <li class="">
         <a href="{% url 'dashboard:room-list' %}">{{ table_name }} </a>
     </li>
     <li class="active">
         {% if room.pk %}Edit {% else %}Add{% endif %} room
     </li>
 {% endblock %}


{% block menu_rooms_class %}active{% endblock %}

{% block custom_css %}
<link href="{% static 'backend/js/plugins/tokenize/tokenize2.css' %}" rel="stylesheet" type="text/css">
<style>
    .error{color:red;}
</style>
{% endblock %}
{% block content %}

    <div class="panel panel-flat animated fadeIn" id="vue-app">
        <div class="panel-body">

            <div class="row">
                 <form id="room-form" enctype="multipart/form-data" novalidate>

                <div class="col-md-6">
                        <div class="form-group hidden">
                            {% csrf_token %}
                        </div>

                        <div class="form-group">
                            <label>Room Name:<span class="text-danger">*</span></label>
                            <input required class="form-control" {% if room.pk %} value="{{room.name}}"{% endif %} name="name" id="name" placeholder="Room Name" type="text">
                            <span class="help-block text-warning"></span>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                  <label>Room Pricing Types:<span class="text-danger">*</span> </label>
                                </div>
                                <div class="col-md-6">
                                  <div class="checkbox" style="margin-top: 0px;">
                                        <label>
                                          <input v-model="autoComplete" name="creditable" class="styled check" type="checkbox">
                                            <span v-show="autoComplete">Disable auto-complete</span>
                                            <span v-show="!autoComplete">Activate auto-complete</span>
                                        </label>
                                        <span id="glranted" class="ganted text-success"></span>
                                  </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="text-bold">Daily:</label>
                                        <input @keyup="computeFullDay" name="daily" id="daily" v-model.number="daily" placeholder="Day & night" class="form-control packages" type="number"  required="required" {% if room.id %} value="{{pricing.daily.gross}}" {% endif %}>
                                        <span class="help-block text-warning"></span>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="text-bold">Nightly:</label>
                                        <input @keyup="computeHalfDay" v-model.number="nightly" id="nightly" placeholder="Night only" class="form-control packages" type="number"  required="required" {% if room.id %} value="{{pricing.nightly.gross}}" {% endif %}>
                                        <span class="help-block text-warning"></span>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="text-bold">DayTime:</label>
                                        <input @keyup="computeHalfDay" id="daytime" v-model.number="daytime" placeholder="Day time only" class="form-control packages" type="number" required="required" {% if pricing.pk %} value="{{pricing.daytime.gross}}" {% endif %}>
                                        <span class="help-block text-warning"></span>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="text-bold">Weekly:</label>
                                        <input id="weekly" v-model.number="weekly" name="weekly" placeholder="Weekly" class="form-control packages" type="number"  required="required" {% if pricing.pk %} value="{{pricing.weekly.gross}}" {% endif %}>
                                        <span class="help-block text-warning"></span>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="text-bold">Monthly:</label>
                                        <input id="monthly" v-model.number="monthly" name="monthly" placeholder="Monthly" class="form-control packages" type="number"  required="required" {% if pricing.pk %} value="{{pricing.monthly.gross}}" {% endif %}>
                                        <span class="help-block text-warning"></span>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <label>Room Description:</label>
                            <textarea rows="5" cols="5" class="form-control" id="description" name="description" placeholder="Enter room description here">{% if room.description %}{{ room.description.strip }}{% endif %}</textarea>
                            <span class="help-block text-warning"></span>
                        </div>

                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label>Amenities:<span class="text-danger">*</span></label>
                        <select class="amenities hidden" multiple>
                            {% if room.id %}
                                {% for amenity in room.amenities.all %}
                                    <option selected="selected" value="{{amenity.id}}">{{amenity.name}}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                        <span class="help-block"></span>
                        <span class="help-block">Did'nt find what you were looking  for? Add new
                            <button type="button" id="add_new_amenities_btn" class="btn bg-primary btn-xs btn-icon legitRipple edit_modal-trigger" data-popup="tooltip" data-original-title="Add New amenity" href="#modal_add_category" id="add-new-category" data-title="Add New category" data-href="/dashboard/categories/add/cat32/" data-csrf="<input type='hidden' name='csrfmiddlewaretoken' value='wvYfCnxhR64GzQeHDIHSCPu6aXxPoxdwf8beDvBggbhlErTqdMlRyzpZC9SUmvdE' />" onclick="return false;">
                               <i class="icon-plus-circle2"></i>
                             </button>
                        </span>
                    </div>
                    <div id="add_new_amenities" style="display:none">
                        <label>New amenities:<span class="text-danger">*</span></label>
                        <select class="new_amenities hidden" multiple></select>
                        <span class="help-block"></span>
                        <button type="button" id="new_amenities_btn" class="btn bg-primary btn-xs btn-icon legitRipple edit_modal-trigger" onclick="return false;">
                           <i class="icon-plus-circle2"></i> Add
                        </button>
                    </div>

            </div>
            <input type="hidden" id="room_id" name="room_id" {% if room.id %} value="{{room.id}}" {% endif %}>
            <div class="text-right col-md-12">
                <button onclick="return false;" id="add-room-btn" type="submit" class="btn btn-primary legitRipple">{% if room.id %}Edit{% else %}Add Room{% endif %} <i class="icon-arrow-right14 position-right"></i></button>
            </div>
            </form>
        </div>
    </div>
<input type="hidden" class="pageUrls"
       data-roomurl="{% url 'dashboard:room-list' %}"
       data-amenitiesurl="{% url 'dashboard:fetch-amenities' %}"
       data-addamenitiesurl="{% url 'dashboard:add-amenities' %}"
       data-variantdetail="{% url 'dashboard:have-variants' %}"
       data-addattrurl="{% url 'dashboard:product-attr-add' %}"
       data-addclassurlb="{% url 'dashboard:attr_list_f32d' %}"
       data-pk="{{room.pk}}"
       data-roomdata="{% url 'dashboard:room-add' %}"
       data-addclassurl="{% url 'dashboard:product-class-form32b' %}">
{% endblock%}
{% block custom_js %}
<script type="text/javascript" src="{% static 'backend/js/plugins/forms/selects/bootstrap_multiselect.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/pages/form_multiselect.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/plugins/forms/selects/bootstrap_select.min.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/room/add-room.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/plugins/tokenize/tokenize2.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/plugins/vue/vue.min.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/room/vue/add_app.js' %}"></script>

<script>


     // Checkboxes/radios (Uniform)
    // ------------------------------

    // Default initialization
    $(".styled, .multiselect-container input").uniform({
        radioClass: 'choice'
    });

    // File input
    $(".file-styled").uniform({
        wrapperClass: 'bg-blue',
        fileButtonHtml: '<i class="icon-file-plus"></i>'
    });

     // Primary
    $(".control-primary").uniform({
        radioClass: 'choice',
        wrapperClass: 'border-primary-600 text-primary-800'
    });
</script>

{% endblock %}