{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
  Rental Income
{% endblock %}

 {% block breadcrumbs %}
     <li class="active"><a href="{% url 'billpayment:income-index'%}">Rental Income</a></li>
 {% endblock %}


 {% block menu_income_class %}active{% endblock %}
 {% block custom_css %}
 <link href="{% static 'backend/js/plugins/pickers/bootstrap_datepicker/css/bootstrap-datepicker.min.css' %}" rel="stylesheet" type="text/css">
 <style type="text/css">
      .theme_xbox .pace_activity, .theme_xbox .pace_activity::after, .theme_xbox .pace_activity::before, .theme_xbox_sm .pace_activity, .theme_xbox_sm .pace_activity::after, .theme_xbox_sm .pace_activity::before, .theme_xbox_xs .pace_activity, .theme_xbox_xs .pace_activity::after, .theme_xbox_xs .pace_activity::before {
        border-radius: 50%;
        border: 1px solid transparent;
            border-top-width: 1px;
            border-right-width: 1px;
            border-bottom-width: 1px;
            border-left-width: 1px;
            border-top-color: transparent;
        border-top-color: #1649fc;
    }
    .pace-demo {
        background-color:#fff;
    }
    @media print {
       #printBtn {
          display: none;
       }
       #addPayment {
          display: none;
       }
       .media-none {
          display: none;
       }
       #media-none {
          display: none;
       }
    }
    .td { cursor:pointer }
    .datepicker table tr td span {
      padding:1px !important;
    }
    .datepicker table tr td span.active.active{
       background-color:#1E88E5 !important;
       background-image: linear-gradient(to bottom,#08c,#1c64fb) !important;
    }
   </style>
 {% endblock %}

{% block content %}
 <div class="row animated " id="vue-app">

   <div class="col-md-12">
      <div class="panel panel-flat">

        <div class="panel-body  search-panel" style="padding:5px;">
              <div class="col-md-5">
                  <label>Filter By Month or Range </label>
                <div class="input-group">
                  <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        ${filter.display_name}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a href="javascript:;" @click="toggleDateFilter('MONTH')">MONTH</a></li>
                      <li><a href="javascript:;" @click="toggleDateFilter('RANGE')">RANGE</a></li>
                    </ul>
                  </div><!-- /btn-group -->

                    <!-- select if option is month-->
                    <date-picker @update-date="updateDate" v-if="filter.month" type="single-month"
                                 format="MM/yyyy" v-once></date-picker>

                    <!-- select if option is range -->
                    <div class="input-group input-daterange" v-else>
                        <date-picker @update-date="updateDate" type="month-from"
                                     format="MM/yyyy" v-once></date-picker>

                        <div class="input-group-addon">to</div>

                        <date-picker @update-date="updateDate" type="month-to"
                                     format="MM/yyyy" v-once></date-picker>
                    </div>

                </div><!-- /input-group -->
              </div><!-- /.col-lg-6 -->
            <div class="col-md-4">
                <label>Search Property:<span class="text-danger">*</span></label>
                <select2 id="select-tenant" :data="{}" url="/api/property/"
                        placeholder="Select Property"
                        v-model="room.id">
                 <option disabled value="0">Select tenant</option>
                </select2>
                <!-- select template -->
                <script type="text/x-template" id="select2-template">
                     <select>
                       <slot></slot>
                     </select>
               </script>
            </div>

            <div class="col-md-2">
              <label style="visibility: hidden;"> export</label>
              <div class="form-group">
                    <button type="button" class="btn btn-primary heading-btn legitRipple"
                            id="printBtn"
                            @click="totalTax != '0.00' ? exportItems : null"
                    :disabled="totalTax == '0.00'">
                        <i class="icon-printer position-left"></i>
                        Print
                    </button>
              </div>
            </div>

      </div>
   </div>

       <div class="row">
          <div class="col-md-12">
           <div id="pagination-div">
              <!-- Header and footer fixed -->
              <div class="panel panel-flat" id="printme">
                <div class="panel-body" >
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-lg">
                                <thead>
                                  <tr class="bg-slate-700">
                                    <th>Period</th>
                                    <th v-if="property!= '' ">Property</th>
                                    <th>Tax</th>
                                    <th>Amount</th>
                                  </tr>
                                </thead>
                                <tbody id="tb">
                                    <tr class="td ">
                                        <td class="td">
                                            <h5 class="text-bold">${period}</h5>
                                        </td>
                                        <td class="td" v-if="property!= '' ">
                                            <h5 class="text-bold">${property}</h5>
                                        </td>
                                        <td class="td">
                                            <h5 class="text-bold">${totalTax}</h5>
                                        </td>
                                        <td class="td">
                                            <h5 class="text-bold">${totalAmount}</h5>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-md-12 pt-15">
                             <div class="row invoice-payment">
                                    <div class="col-sm-7">
                                        <div class="content-group">
                                            <a href="javascript:;"
                                               @click="totalTax != '0.00' ? goTo(detailUrl) : null"
                                               class="btn bg-slate-700 hidden-print"
                                            :disabled="totalTax == '0.00'">
                                                DETAILS
                                                <i class="icon-arrow-right8 position-right"></i>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-sm-5">
                                        <div class="content-group">
                                            <div class="table-responsive no-border">
                                                <table class="table table-bordered">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <h5 class="text-bold">
                                                                    Total Amount:
                                                                </h5>
                                                            </td>
                                                            <td class="text-right">
                                                                <h5 class="text-bold">
                                                                    ${totalAmount}
                                                                </h5>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <h5 class="text-bold">
                                                                    Total Tax:
                                                                </h5>
                                                            </td>
                                                            <td class="text-right">
                                                                <h5 class="text-bold">
                                                                    ${totalTax}
                                                                </h5>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <h3 class="text-bold">
                                                                    Income:
                                                                </h3>
                                                            </td>
                                                            <td class="text-right">
                                                                <h3 class="text-bold">
                                                                    ${totalIncome}
                                                                </h3>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                        </div>

                    </div>
                </div>
              </div>
            </div><!-- pagination -->
          </div>
        </div>
</div>
 </div>

<input type="hidden" class="pageUrls"
  data-listurl="{% url 'billpayment:income-api-list' %}" />
{% endblock%}
{% block custom_js %}

    <script type="text/javascript" src="{% static 'backend/js/plugins/forms/selects/bootstrap_multiselect.js' %}"></script>
    <script type="text/javascript" src="{% static 'backend/js/plugins/forms/selects/bootstrap_select.min.js' %}"></script>
    <!-- datepicker -->
    <script type="text/javascript" src="{% static 'backend/js/plugins/pickers/bootstrap_datepicker/js/bootstrap-datepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'backend/js/plugins/pagination/jquery.twbsPagination.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'backend/js/plugins/loaders/progressbar.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'backend/js/plugins/vue/vue.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'backend/js/plugins/vue/vue-resource.js' %}"></script>
    <script type="text/javascript" src="{% static 'backend/js/plugins/vue/axios.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'backend/js/income/vue/selectComponent.js' %}"></script>
    <script type="text/javascript" src="{% static 'backend/js/income/vue/listing.js' %}"></script>
{% endblock %}