<!-- modal -->
  <div class="modal fade" tabindex="-1" role="dialog" id="modal_instance">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header  bg-primary">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center">ADD PAYMENT</h4>
      </div>
      <div class="modal-body">
        <div id="app" class="row" style="z-index:-1000;">
            ${nm}
            <component :is='componentName' @change="change" :number='nm'></component>
        </div>
        <template id="dues">
          <transition name="fade">
            <div class="col-md-12">
                <form @submit.prevent='submit'>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Tenant Dues ${number}</label>
                    <input type="text" name="test" v-model="test"/>
                  </div>
                  <input type="submit" value="Add Payment" :disabled='disableSubmitButton' class="btn btn-warning">
                  <small><a class="pull-right" @click='goToPay' href="#">Terms and Conditions</a></small>
                </form>
            </div>
          </transition>
        </template>
  
        <template id="pay">
          <transition name="fade">
            <div class="col-md-12">
                <h6>Pay ${number}</h6>
                <ul class="list-group">
                  <li class="list-group-item">Cras justo odio</li>
                </ul>
                <div class="pt-15">
                  <button class="btn btn-success" @click='back_to_dues'>Back To Login</button>
                </div>
            </div>
          </transition>
        </template>
        <!-- <form method="post" id="payment-form" enctype="multipart/form-data"> -->
          {% csrf_token %} 
         <!-- <div class="col-md-6">
            <div class="form-group">
              <label>Date Paid</label>
              <input type="text" id="date_paid" name="date_paid" class="form-control">
            </div>
         </div>
         <div class="col-md-6">
            <div class="form-group" id="cost_group">
              <label>Amount.</label>
              <input type="text" id="amount_paid" name="amount_paid" class="form-control id_no">
            </div>
         </div> -->

      <!-- action buttons -->
         <!-- <div class="row text-right">
             <div class="col-md-6 col-md-offset-3">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="submit"  class="btn btn-primary pull-right" id="submit">Submit</button>
           </div>
         </div>
      </form> -->
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
  <!-- end of modal -->