{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
  Deposit Bills
{% endblock %}

 {% block breadcrumbs %}
     <li class="active"><a> Deposit Bills</a></li>
 {% endblock %}


 {% block menu_deposit_class %}active{% endblock %}
 {% block custom_css %}
 <link href="{% static 'backend/js/plugins/pickers/bootstrap_datepicker/css/bootstrap-datepicker.min.css' %}" rel="stylesheet" type="text/css">

 <style type="text/css">
      .theme_xbox .pace_activity, .theme_xbox .pace_activity::after, .theme_xbox .pace_activity::before, .theme_xbox_sm .pace_activity, .theme_xbox_sm .pace_activity::after, .theme_xbox_sm .pace_activity::before, .theme_xbox_xs .pace_activity, .theme_xbox_xs .pace_activity::after, .theme_xbox_xs .pace_activity::before {
        border-radius: 50%;
        border: 1px solid transparent;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
        border-top-color: transparent;
        border-top-color: #1649fc;
    }
    .pace-demo {
        background-color:#fff;
    }
    @media print {
       #printBtn {
          display: none;
       }
       #addPayment {
          display: none;
       }
       .media-none {
          display: none;
       }
       #media-none {
          display: none;
       }
    }
    .td { cursor:pointer }
    .datepicker table tr td span {
      padding:1px !important;
    }
    .datepicker table tr td span.active.active{
       background-color:#1E88E5 !important;
       background-image: linear-gradient(to bottom,#08c,#1c64fb) !important;
    }
   </style>
 {% endblock %}

{% block content %}
 <div class="row animated " id="vue-app">

   <div class="col-md-12 row">
      <div class="panel panel-flat">

        <div class="panel-body  search-panel" style="padding:5px;">
            <div class="hidden col-md-2">
              <label style="visibility: hidden;"> add</label>
              <div class="form-group">
                    <a id="toggle-add-form" href="/bill/add/" class="btn btn-primary hvr-glow btn-raised legitRipple waves-effect waves-light">
                        <i class="icon-plus2 position-left"></i>Add
                    </a>
              </div>
            </div>
            <div class="col-md-4">
             <label>Search </label>
              <div class="form-group form-group-material has-feedback">
                <input class="form-control" v-model="search"
                       @keyup="inputChangeEvent"
                       placeholder="Search :customer name :property name" type="text"
                >
                <div class="form-control-feedback">
                  <i class="icon-search4 text-size-base"></i>
                </div>
              </div>
            </div>
              <div class="col-md-2">
                <div class="form-group modal-form-group">
                   <label>Status</label>
                   <select class="bootstrap-select" v-model="status" @change="inputChangeEvent" style="display: none;" data-width="100%" tabindex="-98">
                      <option value="all" selected>All</option>
                      <option value="pending">Pending</option>
                      <option value="fully-paid">Fully-Paid</option>
                    </select>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group modal-form-group">
                    <label for="name"> Month </label>
                    <input type="text" v-model="monthDisplay" class="form-control monthpicker"  name="monthpicker" id="monthpicker" placeholder="Month" />
                </div>
              </div>
              <div class="col-md-2">
               <label>Export</label>
                <div class="form-group">
                   <select v-model="exportType" @change="exportItems" class="bootstrap-select" style="display: none;" data-width="100%" tabindex="-98">
                      <option value="none" >Option</option>
                      <option value="pdf" >export pdf</option>
                      <option value="excel" >export excel</option>
                    </select>
                </div>
              </div>
            </div>

      </div>
   </div>

    <div class="row">

  <div class="col-md-12">
   <div id="pagination-div">
      <!-- Header and footer fixed -->
      <div class="panel panel-flat" id="printme">
        <div class="panel-body" >
            <div class="col-md-12">
                <h5 class="text-center text-bold">Deposit Bills</h5>
            </div>
            <div class="">
              <table class="table room-striped room-hover dataroom-header-footer" style="border-bottom:1px solid #ddd;">
                    <thead>
                      <tr class="bg-primary">
                        <th>Tenant</th>
                        <th>Property</th>
                        <th>Bill Type</th>
                        <th>Month</th>
                        <th>Amount</th>
                        <th>Status</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody id="tb">
                    <!--loader-->
                    <tr v-if="loader" class="text-center">
                        <td colspan="8">
                            <div class="pace-demo">
                                <div class="theme_xbox"><div class="pace_progress" data-progress-text="60%" data-progress="60"></div><div class="pace_activity"></div></div>
                            </div>
                        </td>
                    </tr>
                    <!--no data template-->
                    <template  v-else>
                    <tr v-if="items.length == 0" class="text-center">
                        <td colspan="8" class="text-bold animated zoomIn">
                            No Data Found !
                        </td>
                    </tr>
                    </template>
                    <!--listing template-->
                    <template v-for="item in items">
                        <tr class="td " :id="item.id">
                            <td  @click="goTo(item.invoice_url)">${item.customer.name}</td>
                            <td  @click="goTo(item.invoice_url)">${item.room.name}</td>
                            <td  @click="goTo(item.invoice_url)">${item.billtype.name}</td>
                            <td  @click="goTo(item.invoice_url)">${item.month}</td>
                            <td  @click="goTo(item.invoice_url)">${item.amount}</td>
                            <td  @click="goTo(item.invoice_url)">
                                ${item.status}
                                <span v-if="item.deposit_refunded" class="text-muted text-small">: refunded</span>
                            </td>

                            <td class="text-center">
                                <ul class="icons-list">
                                    <li class="dropdown">
                                        <button type="button" class="btn btn-primary dropdown-toggle legitRipple" data-toggle="dropdown" aria-expanded="true">
                                            Actions<span class="caret"></span></button>

                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li><a @click="goTo(item.invoice_url)" href="javascript:;"><i class=" icon-safe"></i> INVOICE</a></li>
                                            <li class="hidden"><a @click="goTo(item.update_url)" href="javascript:;"><i class="icon-pencil"></i> EDIT</a></li>
                                            <li >
                                                <a @click="item.status != 'pending' ? deleteInstance(item.payment_id,item, item.deposit_refunded) : alertPay() " href="javascript:;">
                                                    <i class=" icon-cart-remove"></i>
                                                    <span v-if="item.deposit_refunded" class="text-muted">Refunded</span>
                                                    <span v-else> Refund</span>
                                                </a>
                                            </li>

                                        </ul>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </template>


                    </tbody>
               </table>

            </div>
            </div>

         <style type="text/css">
           .pagination{margin-bottom: 0px;}
         </style>
         <div class="row media-none">
         <div class="col-md-12">
          <div class="col-md-4">
           <div class="col-md-12">
            <div class="col-md-6 mt-10">
             <label>display list size</label>
            </div>
            <div class="col-md-6 media-none">
              <div class="form-group">
                 <select v-model="page_size" @change="inputChangeEvent" class="bootstrap-select" style="display: none;" data-width="100%" tabindex="-98">
                    <option value="10" selected>No:</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                  </select>
              </div>
            </div>
          </div>
          </div>
          <div class="col-md-4" id="media-none">
              <div class="text-center bootpag-callback p2-pag" style="">
            </div>
           </div>
            <div class="col-md-4">
             <div class="col-md-12 mt-5">
              <div class="pull-right pages-nav"></div>
             </div>
            </div>
          </div>
         </div>
         <input type="hidden" id="page_size" val="">
      </div>
    </div><!-- pagination -->
  </div>
</div>

     <!--delete modal  -->
    <div id="modal_delete" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h6 class="modal-title text-center">Refund Deposit</h6>
                </div>

                <div class="modal-body">
                    <h6 class="text-semibold text-center">Are you sure you want to refund
                        <span id="deposit-amount"></span>
                        ?
                    </h6>
                </div>

                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                    <button @click="deleteInstance(false,false)" type="button"
                            class="btn btn-primary animated shake">Refund</button>
                </div>
            </div>
        </div>
    </div>
   <!--./delete-->
 </div>


 </div>

<input type="hidden" class="pageUrls"
  data-listurl="/bill/api/list/deposit/"
        data-createurl="/bill/api/create/"
>
{% endblock%}
{% block custom_js %}
  <script type="text/javascript" src="{% static 'backend/js/plugins/pickers/bootstrap_datepicker/js/bootstrap-datepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'backend/js/plugins/forms/selects/bootstrap_multiselect.js' %}"></script>

    <script type="text/javascript" src="{% static 'backend/js/plugins/forms/selects/bootstrap_select.min.js' %}"></script>
<!-- datepicker -->
  <script type="text/javascript" src="{% static 'backend/js/plugins/pickers/daterangepicker.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/pages/components_popups.js' %}"></script>

    <script type="text/javascript" src="{% static 'backend/js/plugins/pagination/jquery.twbsPagination.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'backend/js/plugins/loaders/progressbar.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'backend/js/plugins/vue/vue.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'backend/js/plugins/vue/vue-resource.js' %}"></script>
    <script type="text/javascript" src="{% static 'backend/js/plugins/vue/vee-validate.2.0.8.en.js' %}"></script>
    <script src="{% static 'backend/js/plugins/vue/axios.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'backend/js/bill/vue/listing-deposit.js' %}"></script>
    <!-- <script type="text/javascript" src="{% static 'backend/js/common/listing.js' %}"></script> -->
    <script type="text/javascript">
      $(document).ready(function() {
        $('.bootstrap-select').selectpicker();
        // Custom color
        $('[data-popup=tooltip-custom]').tooltip({
            template: '<div class="tooltip"><div class="bg-teal"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div></div>'
        });
      });
    </script>
{% endblock %}