<!--listbooks-->
<div class="panel panel-flat" id="vue-list">
    <div class="panel-body no-padding">

        <div class="">
          <table class="table room-striped room-hover dataroom-header-footer" style="border-bottom:1px solid #ddd;">
                <thead>
                  <tr class="bg-primary">
                    <th>Invoice</th>
                    <th>Room</th>
                    <th>Days</th>
                    <th>Check-in</th>
                    <th>Check-out</th>
                    <th>Customer</th>
                    <th>Cost</th>
                  </tr>
                </thead>
                <tbody id="tb">
                <!--loader-->
                <tr v-if="loader" class="text-center">
                    <td colspan="8">
                        <div class="pace-demo">
                            <div class="theme_xbox"><div class="pace_progress" data-progress-text="60%" data-progress="60"></div><div class="pace_activity"></div></div>
                        </div>
                    </td>
                </tr>
                <!--no data template-->
                <template  v-else>
                <tr v-if="items.length == 0" class="text-center">
                    <td colspan="8" class="text-bold animated zoomIn">
                        No Data Found !
                    </td>
                </tr>
                </template>
                <!--listing template-->
                <template v-for="item in items">
                    <tr>
                        <td>
                            ${item.invoice_number}<br>
                            <span v-show="item.active"><mark>booked</mark></span>
                        </td>
                        <td>${item.room_name}</td>
                        <td>${item.days}</td>
                        <td>${item.date_in}</td>
                        <td>${item.date_out}</td>
                        <td>${item.customer_name}</td>
                        <td>${item.total_booking_amount}</td>

                    </tr>
                </template>


                </tbody>
           </table>
        </div>
    </div>

     <style type="text/css">
       .pagination{margin-bottom: 0px;}
     </style>
     <div class="row mt-15 media-none">
     <div class="col-md-12">
      <div class="col-md-4">
       <div class="col-md-12">
        <div class="col-md-6 mt-10">
         <label>list size</label>
        </div>
        <div class="col-md-6 media-none">
          <div class="form-group">
             <select v-model="page_size" @change="inputChangeEvent" class="bootstrap-select" style="display: none;" data-width="100%" tabindex="-98">
                <option value="10" selected>No:</option>
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
              </select>
          </div>
        </div>
      </div>
      </div>
      <div class="col-md-4" id="media-none">
          <div class="text-center bootpag-callback p2-pag" style="">
        </div>
       </div>
        <div class="col-md-4">
         <div class="col-md-12 mt-5">
          <div class="pull-right pages-nav"></div>
         </div>
        </div>
      </div>
     </div>
     <input type="hidden" id="page_size" val="">
</div>
<!--./list books-->