{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load prices_i18n %}
{% load business_name %}
{% load business_logo %}

{% block title %}
  Statement - {{ room.name|title }}
{% endblock %}

{% block menu_rental_income_class %}active{% endblock %}

{% block breadcrumbs %}
     <li class=""><a href="">{{room.name|title}} </a></li>
     <!-- <li class="activate">{{ instance.room.name }} Invoice | {{instance.invoice_number}}</li> -->
{% endblock %}

{% block custom_css %}
<link href="{% static 'backend/js/plugins/tokenize/tokenize2.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{% static 'backend/js/plugins/pickers/datetimepicker/bootstrap-datetimepicker-standalone.min.css' %}" />
<link rel="stylesheet" href="{% static 'backend/js/plugins/pickers/bootstrap_datepicker/css/bootstrap-datepicker.min.css' %}">
<style>
    .ribbon-container {
    width: 104px;
    height: 106px;
    overflow: hidden;
    position: absolute;
    top: -1px;
    right: -1px;
}
.ribbon {
    text-align: center;
    font-size: 12px;
    line-height: 1.6666667;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    padding: 5px 0;
    left: -11px;
    top: 25px;
    width: 150px;
    color: #fff;
    letter-spacing: .25px;
    z-index: 993;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-box-shadow: 0 4px 6px rgba(0,0,0,.1);
    box-shadow: 0 4px 6px rgba(0,0,0,.1);
}
@media print {
   #printBtn {
      display: none;
   }
   #addPayment {
      display: none;
   }
}
</style>
{% endblock %}
{% block content %}

<div class="row" id="printme">
    <form id="check-out-form" class="hidden">
        {% csrf_token %}
        <input type="hidden" name="pk" id="pk" value="{{room.pk}}">
        <input type="hidden" name="is_booked" id="is_booked" value="0">
    </form>
    <form id="deactivate-form" class="hidden">
        {% csrf_token %}
        <input type="hidden" name="pk" value="{{room.pk}}">
        <input type="hidden" name="active" id="active" value="0">
    </form>
    <div class="panel panel-white">
        <div class="panel-heading">
            <h6 class="panel-title text-bold">Monthly Income Statement | Property {{room.name}}</h6>
            <div class="heading-elements">
                <button type="button" class="btn btn-default btn-xs heading-btn legitRipple" id="printBtn"><i class="icon-printer position-left"></i> Print</button>
            </div>
        <a class="heading-elements-toggle"><i class="icon-more"></i></a></div>

        <div class="panel-body no-padding-bottom" >
            <div class="row">
                <div class="col-sm-6 content-group">
                    {% if business_logo %}
                    <img src="{{business_logo}}" style="max-height:100px;width:auto;"/>
                    {% endif %}

                    <ul class="list-condensed list-unstyled">
                        <li>{% business_name %}</li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-lg-3 content-group">
                    <span class="text-muted">Period:</span>
                    <ul class="list-condensed list-unstyled invoice-payment-details">
                        <li>
                            <h5>Month (Year): 
                                <span class="text-right text-semibold">${month}
                                </span>
                            </h5>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="table-responsive">
                    <table class="table table-lg">
                        <thead>
                            <tr class="bg-slate-800">
                                <th class="col-sm-3">Date Paid</th>
                                <th class="col-sm-3">Bill Type</th>
                                <th class="col-sm-3">Amount</th>
                                <th class="col-sm-2">Tax</th>
                                <th class="col-sm-2">Income</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th colspan="5" class="text-semibold bg-slate">RENT</th>
                            </tr>
                            <template v-for="item in rent">
                                <tr class="td " :id="item.id">
                                  <td class="td">
                                      ${item.date_paid}<br>
                                      <span><mark>${item.invoice_number}</mark></span>
                                  </td>
                                  <td class="td">${item.bill.name}</td>
                                  <td class="td">${item.bill.amount}</td>
                                  <td class="td">${item.tax}</td>
                                  <td class="td">${item.income}</td>
                                </tr>
                            </template>
                            <tr v-if="bills!=''">
                                <th colspan="5" class="text-semibold bg-slate">OTHER BILLS</th>
                            </tr>
                            <template v-for="item in bills">
                                <tr class="td " :id="item.id">
                                  <td class="td">
                                      ${item.date_paid}<br>
                                      <span><mark>${item.invoice_number}</mark></span>
                                  </td>
                                  <td class="td">${item.bill.name}</td>
                                  <td class="td">${item.bill.amount}</td>
                                  <td class="td">${item.tax}</td>
                                  <td class="td">${item.income}</td>
                                </tr>
                            </template>
                        </tbody>
                    </table>
                </div>

        </div>

        <div class="panel-body">
            <div class="row invoice-payment">
                <div class="col-sm-7">
                    <div class="content-group">
                        <h6 class="test">Authorized person</h6>

                        <ul class="list-condensed list-unstyled text-muted">
                            <li><h5>
                                {% if request.user.name %}
                                {{request.user.name}}
                                {% endif %}
                            </h5></li>
                            <li>
                                {% if instance.user.mobile %}
                                {{instance.user.mobile}}
                                {% endif %}
                            </li>
                            <li>

                                {% if instance.user.email %}
                                {{instance.user.email}}
                                {% endif %}

                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-5">
                    <div class="content-group">
                        <h6>Total due</h6>
                        <div class="table-responsive no-border">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th>Rent Tendered:</th>
                                        <td class="text-right">
                                            ${rentAmount}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Other Bills:</th>
                                        <td class="text-right text-primary">
                                            <h5 class="text-semibold">
                                                ${billsAmount}
                                            </h5>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Income:</th>
                                        <td class="text-right text-primary">
                                            <h5 class="text-semibold">
                                                ${income}
                                            </h5>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Total Tax:</th>
                                        <td class="text-right text-primary">
                                            <h5 class="text-semibold">
                                                ${totalTax}
                                            </h5>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>
            </div>

            <h6>Other information</h6>
            <p class="text-muted">Thank you for partnering with us. </p>
        </div>
    </div>

</div>
<!--./booking modal-->

<input type="hidden" class="pageUrls"
       data-bookurl="null"
       data-checkouturl = "null"
       data-deactivateurl = "{% url 'dashboard:booking-add' %}"
       data-paylisturl = "{% url 'customer-api:api-customer-payment-list' pk=1 %}"
       data-listurl="{% url 'billpayment:api-list-room-income' rmpk=room.pk %}"
      />

<input type="hidden" name="" class="roomRentalIncomeUrl" value="{% url 'dashboard:room-rental-income-detail' pk=room.pk %}" />
<input type="hidden" name="" class="monthValue" 
     value="{% if request.GET.month %}{{request.GET.month}}{% endif %}"/>
<input type="hidden" name="" class="searchValue" 
     value="{% if request.GET.search %}{{request.GET.search}}{% endif %}"/>

{% endblock %}

{% block custom_js %}
<script type="text/javascript" src="{% static 'backend/js/room/list-room.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/plugins/forms/selects/bootstrap_multiselect.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/pages/form_multiselect.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/plugins/forms/selects/bootstrap_select.min.js' %}"></script>

<script type="text/javascript" src="{% static 'backend/js/plugins/pickers/datepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/plugins/pickers/datetimepicker/bootstrap-datetimepicker.min.js' %}"></script>

<script type="text/javascript" src="{% static 'backend/js/plugins/tokenize/tokenize2.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/plugins/vue/vue.min.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/plugins/vue/vue-resource.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/rentalincome/statement.js' %}"></script>
<script >
    /* render select field */
    // Basic select
    $('.bootstrap-select').selectpicker();

    // Single picker
  {% if request.GET.payments %}
    $.when( $.ready ).then(function() {     
       $('#bio-tab').removeClass('active');
       $('#bio').removeClass('active');
       //activate pricing tab
       $('#payment-tab').addClass('active');
       $('#payment').addClass('active');                     
    });
  {% endif %}


</script>
{% endblock %}