{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load prices_i18n %}

{% block title %}
  {{ table_name }} Report Charts
{% endblock %}

 {% block breadcrumbs %}
     <li class=""><a href="{% url 'dashboard:booking-list' %}">{{ table_name }} </a></li>
     <li>Report Charts</li>
 {% endblock %}


{% block menu_bookingcharts_class %}active{% endblock %}
 {% block custom_css %}
   <style type="text/css">
      .theme_xbox .pace_activity, .theme_xbox .pace_activity::after, .theme_xbox .pace_activity::before, .theme_xbox_sm .pace_activity, .theme_xbox_sm .pace_activity::after, .theme_xbox_sm .pace_activity::before, .theme_xbox_xs .pace_activity, .theme_xbox_xs .pace_activity::after, .theme_xbox_xs .pace_activity::before {
        border-radius: 50%;
        border: 1px solid transparent;
            border-top-width: 1px;
            border-right-width: 1px;
            border-bottom-width: 1px;
            border-left-width: 1px;
            border-top-color: transparent;
        border-top-color: #1649fc;
    }
    .pace-demo {
        background-color:#fff;
    }
    @media print {
       #printBtn {
          display: none;
       }
       #addPayment {
          display: none;
       }
       .media-none {
          display: none;
       }
       #media-none {
          display: none;
       }

       .panel-body-accent{
            border-style: solid;
            border-width: 1px;
            border-color: #29B6F6;
       }

    }
   </style>
    <link href="{% static 'backend/js/plugins/pickers/bootstrap_datepicker/css/bootstrap-datepicker.min.css' %}" rel="stylesheet" type="text/css">
    <style>
      table tr .ctd{padding: 8px 10px !important;}
      .table{border-bottom:1px solid #ccc}
      .datepicker table tr td span {
          padding:1px !important;
        }
        .datepicker table tr td span.active.active{
           background-color:#1E88E5 !important;
        }
    </style>
 {% endblock %}

{% block content %}
<div id="printme">
 <div class="row animated fadeIn" id="vue-app">

     <!--datepicker template-->
     <script type="text/x-template" id="dt-template">
        <input type="text" class="form-control" :value="value">
     </script>

     <div class="animated bounceIn" v-show="server_error">
        <div class="panel-body">
             <div class="alert alert-warning no-border text-center">
                 <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                <span class="text-semibold">Heads up!</span> Add <a href="{% url 'dashboard:room-add' %}" class="alert-link text-primary"> Properties</a>, No Properties found.
            </div>
        </div>
    </div>

     <div class="col-md-12 hidden-print">
         <div class="breadcrumb-line breadcrumb-line-component content-group-lg"><a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
            <ul class="breadcrumb">
                <li><a href="#" class="text-bold"> Booking Summary</a></li>
            </ul>
            <ul class="breadcrumb-elements">
                <li class="text-bold" style="margin-top: 9px;"> Select Date: &nbsp;&nbsp;</li>
                <li>
                    <dt-picker id="check_in_date" v-model="check_in" :value="check_in" ></dt-picker>
                </li>
                <li class="hidden">
                    <dt-picker id="check_out_date" v-model="check_out" :value="check_out" ></dt-picker>
                </li>

                <li class="text-bold" style="margin-top: 9px;">&nbsp;&nbsp; Export: &nbsp;&nbsp;</li>
                <li>
                    <div class="fsdform-grosdfup">
                       <select v-model="exportType" @change="exportItems" class="bootstrap-select" style="display: none;" data-width="100%" tabindex="-98">
                          <option value="none" >Option</option>
                          <option value="pdf" >export pdf</option>
                          <option value="excel" >export excel</option>
                        </select>
                    </div>
                </li>
                <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
            </ul>
         </div>
     </div>

     <!--summary-->
     <div class=" row col-md-12 animated zoomIn">
         <!--empty-->
        <div class="col-sm-6 col-md-3">
            <div class="panel panel-body panel-body-accent">
                <div class="media no-margin">
                    <div class="media-left media-middle">
                        <i class="icon-home8 icon-3x text-warning-400"></i>
                    </div>

                    <div class="media-body text-right">
                        <span class="text-size-mini">${check_in | formatDate}</span>
                        <h3 class="no-margin text-semibold">${total_empty}</h3>
                        <span class="text-uppercase text-size-mini text-muted">
                            Empty Houses
                        </span>
                    </div>
                </div>
            </div>
        </div>
         <!--occupied-->
         <div class="col-sm-6 col-md-3">
            <div class="panel panel-body panel-body-accent">
                <div class="media no-margin">
                    <div class="media-left media-middle">
                        <i class="icon-home5 icon-3x text-success-400"></i>
                    </div>

                    <div class="media-body text-right">
                        <span class="text-size-mini">${check_in | formatDate}</span>
                        <h3 class="no-margin text-semibold">${total_occupied}</h3>
                        <span class="text-uppercase text-size-mini text-muted">Occupied Houses</span>
                    </div>
                </div>
            </div>
        </div>
        <!--total income -->
         <div class="col-sm-6 col-md-3">
            <div class="panel panel-body panel-body-accent">
                <div class="media no-margin">
                    <div class="media-body">
                        <span class="text-size-mini">${check_in | formatDate}</span>
                        <h3 class="no-margin text-semibold animated fadeIn">${paid_rent | formatCurrency}</h3>
                        <span class="text-uppercase text-size-mini text-muted">total rent income</span>
                    </div>

                    <div class="media-right media-middle">
                        <i class="icon-stats-dots icon-3x text-blue-400"></i>
                    </div>
                </div>
            </div>
        </div>
        <!--total tax -->
         <div class="col-sm-6 col-md-3">
            <div class="panel panel-body panel-body-accent">
                <div class="media no-margin">
                    <div class="media-body">
                        <span class="text-size-mini">${check_in | formatDate}</span>
                        <h3 class="no-margin text-semibold">${pending_rent | formatCurrency}</h3>
                        <span class="text-uppercase text-size-mini text-muted">total arrears</span>
                    </div>

                    <div class="media-right media-middle">
                        <i class=" icon-stats-bars2 icon-3x text-blue-400"></i>
                    </div>
                </div>
            </div>
        </div>
     </div>
     <!--./summary-->
     <hr class="text-primary">
     <div class="col-md-6 animated zoomIn">
        <!--yearly amount-->
        <div id="yearly-amount-chart" style="min-width: 310px; height: 400px; margin: 0 auto">
        </div>
   </div>
     <div class="col-md-6">
       <!--yearly visits-->
       <div id="yearly-visits-chart" style="min-width: 310px; height: 400px; margin: 0 auto">
        </div>
     </div>
     <div class="col-md-12">
        <hr class="text-primary">
     </div>
     <div class="col-md-6">
        <!--last mount-->
        <div id="last-amount-chart" style="min-width: 310px; height: 400px; margin: 0 auto">
        </div>
   </div>
     <div class="col-md-6">
            <!--last visits-->
       <div id="last-visits-chart" style="min-width: 310px; height: 400px; margin: 0 auto">
       </div>
     </div>
   </div>
</div>
<input type="hidden" class="pageUrls" data-listurl="{% url 'dashboard:booking-charts' %}">
{% endblock%}

{% block custom_js %}
    <script type="text/javascript" src="{% static 'backend/js/plugins/pickers/bootstrap_datepicker/js/bootstrap-datepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'backend/js/plugins/forms/selects/bootstrap_multiselect.js' %}"></script>
    <script type="text/javascript" src="{% static 'backend/js/pages/form_multiselect.js' %}"></script>
    <script type="text/javascript" src="{% static 'backend/js/plugins/forms/selects/bootstrap_select.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'backend/js/plugins/pagination/jquery.twbsPagination.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'backend/js/plugins/loaders/progressbar.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'backend/js/plugins/ui/Highcharts-5.0.14/code/highcharts.js' %}"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script type="text/javascript" src="{% static 'backend/js/plugins/vue/vue.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'backend/js/plugins/vue/vue-resource.js' %}"></script>
    <script src="{% static 'backend/js/plugins/vue/axios.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'backend/js/booking/vue/charts.js' %}"></script>
    <script type="text/javascript">

  $(document).ready(function() {
  $('.bootstrap-select').selectpicker();


  });

</script>
{% endblock %}