{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load prices_i18n %}

{% block title %}
  {{ table_name }} Report Charts
{% endblock %}

 {% block breadcrumbs %}
     <li class=""><a href="{% url 'dashboard:booking-list' %}">{{ table_name }} </a></li>
     <li>Report Charts</li>
 {% endblock %}


{% block menu_bookingcharts_class %}active{% endblock %}
 {% block custom_css %}
   <style type="text/css">
      .theme_xbox .pace_activity, .theme_xbox .pace_activity::after, .theme_xbox .pace_activity::before, .theme_xbox_sm .pace_activity, .theme_xbox_sm .pace_activity::after, .theme_xbox_sm .pace_activity::before, .theme_xbox_xs .pace_activity, .theme_xbox_xs .pace_activity::after, .theme_xbox_xs .pace_activity::before {
        border-radius: 50%;
        border: 1px solid transparent;
            border-top-width: 1px;
            border-right-width: 1px;
            border-bottom-width: 1px;
            border-left-width: 1px;
            border-top-color: transparent;
        border-top-color: #1649fc;
    }
    .pace-demo {
        background-color:#fff;
    }
    @media print {
       #printBtn {
          display: none;
       }
       #addPayment {
          display: none;
       }
       .media-none {
          display: none;
       }
       #media-none {
          display: none;
       }
    }
   </style>
 {% endblock %}

{% block content %}
 <div class="row animated fadeIn" id="vue-app">
   <div class="col-md-6 animated zoomIn">
        <!--yearly amount-->
        <div id="yearly-amount-chart" style="min-width: 310px; height: 400px; margin: 0 auto">
        </div>
   </div>
   <div class="col-md-6">
       <!--yearly visits-->
       <div id="yearly-visits-chart" style="min-width: 310px; height: 400px; margin: 0 auto">
        </div>
   </div>
   <div class="col-md-12">
       <hr class="text-primary">
   </div>
   <div class="col-md-6">
        <!--last mount-->
        <div id="last-amount-chart" style="min-width: 310px; height: 400px; margin: 0 auto">
        </div>
   </div>
   <div class="col-md-6">
        <!--last visits-->
       <div id="last-visits-chart" style="min-width: 310px; height: 400px; margin: 0 auto">
        </div>
   </div>
   </div>
 </div>
<input type="hidden" class="pageUrls" data-listurl="{% url 'dashboard:booking-charts' %}">
{% endblock%}
{% block custom_js %}
  <script type="text/javascript" src="{% static 'backend/js/plugins/forms/selects/bootstrap_multiselect.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/pages/form_multiselect.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/plugins/forms/selects/bootstrap_select.min.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/plugins/pagination/jquery.twbsPagination.min.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/plugins/loaders/progressbar.min.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/plugins/ui/Highcharts-5.0.14/code/highcharts.js' %}"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script type="text/javascript" src="{% static 'backend/js/plugins/vue/vue.min.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/plugins/vue/vue-resource.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/booking/vue/charts.js' %}"></script>
<script type="text/javascript">

  $(document).ready(function() {
  $('.bootstrap-select').selectpicker();


  });

</script>
{% endblock %}