
{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load prices_i18n %}

{% block title %}
  {{ table_name }}
{% endblock %}

 {% block breadcrumbs %}
     <li class="">
         <a href="{% url 'dashboard:booking-list' %}">{{ table_name }} </a>
     </li>
     <li class="active">
         {% if room.pk %}Edit {% else %}Create a new {% endif %} {{ table_name }}
     </li>
 {% endblock %}


{% block menu_rooms_class %}active{% endblock %}

{% block custom_css %}
<style>
  .error {
    color:red;
}
</style>

<link href="{% static 'backend/js/plugins/tokenize/tokenize2.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{% static 'backend/js/plugins/pickers/datetimepicker/bootstrap-datetimepicker-standalone.min.css' %}" />
{% endblock %}
{% block content %}

    <div class="panel panel-flat">


        <div class="panel-body" id="vue-app">
           <div class="row">
                 <form id="create-booking-form" enctype="multipart/form-data" novalidate>

                <div class="col-md-6">
                    <div class="form-group hidden">
                        {% csrf_token %}
                    </div>

                    <div class="form-group">
                       <div class="row">
                          <div class="col-md-9">
                            <label>Select Room:<span class="text-danger">*</span></label>
                            <select required="required" class="rooms hidden" multiple>
                                {% if instance.id %}
                                   <option selected="selected" value="{{instance.room.id}}">{{instance.room}}</option>
                                {% endif %}
                            </select>
                            <span class="help-block"></span>
                          </div>
                          <div class="col-md-3">
                              <label>Charge Type:</label>
                              <select id="price_type" name="price_type" class="form-control bootstrap-select">
                                  {% if instance.id %}
                                  <option value="{{instance.price_type}}">{{instance.price_type}}</option>
                                  {% endif %}
                                  <option value="nightly">Nightly</option>
                                  <option value="daytime">DateTime</option>
                                  <option value="weekly">Weekly</option>
                                  <option value="monthly">Monthly</option>
                              </select>
                          </div>
                       </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                              <label>Check-in Date:</label>
                              <div class="input-group">
                                <span class="input-group-addon"><i class="icon-calendar22"></i></span>
                                <input required="required" type="text" name="check_in" id="check_in"  class="form-control check-in" {% if instance.id %} value='{{instance.check_in|date:"c"}}' {% endif %}>
                              </div>
                            </div>

                           <div class="col-md-4">
                               <label>Check-out Date:</label>
                              <div class="input-group">
                                <span class="input-group-addon"><i class="icon-calendar22"></i></span>
                                <input required="required" type="text" name="check_out" id="check_out" class="form-control check-out" {% if instance.id %} value="{{instance.check_out|date:'c'}}" {% endif %}>
                              </div>
                            </div>
                            <div class="col-md-3">
                              <label class="text-right">Days:</label>
                              <div class="input-group">
                                <span class="input-group-addon"><i class="icon-comma"></i></span>
                                <input required="required" name="days" type="number" id="days" @change="computeCheckout()" v-model.number="days" class="form-control days" {% if instance.id %} value="{{instance.days}}" {% endif %}>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Price:<span class="text-danger">*</span></label>
                        <input required="required" disabled="disabled" class="form-control" id="price" name="price" placeholder="Price" type="number">
                        <input required="required" class="form-control hidden" id="total_price" {% if instance.id %} value="{{instance.price}}" {% endif %} name="total_price" placeholder="hidden" type="hidden">
                        <input required="required" class="form-control hidden" id="room" name="room" placeholder="hidden" type="hidden">
                        <span class="help-block text-warning"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                            <label>Search Guest:<span class="text-danger">*</span></label>
                            <select name="customer" class="customer hidden" multiple></select>
                            <span class="help-block text-warning"></span>
                        </div>
                        <!--customer details-->
                        <div class="form-group">
                            <label class="control-label">Guest Details:<span class="text-danger">*</span></label>
                            <div class="row">
                                <div class="col-md-6">
                                    <input required="required" {% if instance.id %} value="{{instance.customer.name}}"{% endif %}  placeholder="Name" id="c_name" name="c_name" class="form-control" type="text">
                                </div>

                                <div class="col-md-6">
                                    <input required="required" placeholder="Phone" id="mobile" name="mobile" class="form-control" type="text" {% if instance.id %} value="{{instance.customer.mobile}}"{% endif %}>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                               <label>Adults:</label>
                              <div class="input-group">
                                <span class="input-group-addon"><i class="icon-user"></i></span>
                                <input type="number" {% if instance.id %} value="{{instance.adult}}" {% else %} value="1" {% endif %} placeholder="Adults" name="adult" id="adult" class="form-control ">
                              </div>
                            </div>
                            <div class="col-md-4">
                              <label>Children:</label>
                              <div class="input-group">
                                <span class="input-group-addon"><i class="icon-users"></i></span>
                                <input type="number" id="child" {% if instance.id %} value="{{instance.child}}" {% endif %} placeholder="No children" name="child" class="form-control">
                              </div>
                            </div>
                        </div>
                        </div>


            <input type="hidden" id="room_id" name="room_id" {% if instance.id %} value="{{instance.room.id}}" {% endif %}>
            <input type="hidden" id="pk" name="pk" {% if instance.id %} value="{{instance.id}}" {% endif %}>
            <div class="text-right col-md-12">
                <button id="create-book-btn" type="submit" class="btn btn-primary legitRipple">{% if room.id %}Edit{% else %}Book{% endif %} <i class="icon-arrow-right14 position-right"></i></button>
            </div>
            </form>
        </div>
    </div>
        <!--page urls-->
<input type="hidden" class="pageUrls"
       data-bookingurl="{% url 'dashboard:booking-list' %}"
       data-getroomsurl="{% url 'dashboard:fetch-rooms' %}"
       data-getcustomerurl="{% url 'dashboard:fetch-customers-token' %}"
       data-computetotal="{% url 'dashboard:compute-room-price' %}"
       data-instancedata="{% url 'dashboard:booking-add' %}">
{% endblock%}
{% block custom_js %}
<script type="text/javascript" src="{% static 'backend/js/plugins/forms/selects/bootstrap_multiselect.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/pages/form_multiselect.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/plugins/forms/selects/bootstrap_select.min.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/room/book-room.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/plugins/pickers/datepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/plugins/pickers/datetimepicker/bootstrap-datetimepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/plugins/tokenize/tokenize2.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/plugins/vue/vue.min.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/booking/vue/booking.js' %}"></script>
<script >
    /* render select field */
    // Basic select
    $('.bootstrap-select').selectpicker();

    <!-- remove select duplicates when editing -->
    var map = {};
    $("#price_type").each(function(){
        var value = $(this).text();
        if (map[value] == null){
            map[value] = true;
        } else {
            $(this).remove();
        }
    });

</script>
{% endblock %}
