{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load prices_i18n %}

{% block title %}
  Select Room - {{ table_name }}
{% endblock %}

{% block menu_book_class %}active{% endblock %}

{% block breadcrumbs %}
     <li class="active"><a href="{% url 'dashboard:room-list' %}">{{ table_name }} </a></li>
{% endblock %}

{% block custom_css %}
<link href="{% static 'backend/js/plugins/tokenize/tokenize2.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{% static 'backend/js/plugins/pickers/datetimepicker/bootstrap-datetimepicker-standalone.min.css' %}" />
<style>
    .ribbon-container {
    width: 104px;
    height: 106px;
    overflow: hidden;
    position: absolute;
    top: -1px;
    right: -1px;
}
.ribbon {
    text-align: center;
    font-size: 12px;
    line-height: 1.6666667;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    padding: 5px 0;
    left: -11px;
    top: 25px;
    width: 150px;
    color: #fff;
    letter-spacing: .25px;
    z-index: 993;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-box-shadow: 0 4px 6px rgba(0,0,0,.1);
    box-shadow: 0 4px 6px rgba(0,0,0,.1);
}
</style>

{% endblock %}
{% block content %}

<div class="row">
    {% if objects %}
    <div class="panel panel-flat">
        <div class="panel-body">
            <div class="tabbable row">
                <ul class="nav nav-tabs nav-tabs-solid nav-justified">

                    {% for floor in floors %}
                    <li class="{% if floor == '0' %}active{% endif %}">
                        <a href="#dynamic-floor{{floor}}" data-toggle="tab"    class="legitRipple" aria-expanded="false">
                         <span class="text-bold">Floor:</span> {{floor}}
                        </a>
                    </li>
                    {% endfor %}

                </ul>

                <div class="tab-content row">
                    {% for floor in floors %}
                    <div class="tab-pane {% if floor == '0' %}active{% endif %}" id="dynamic-floor{{floor}}">
                        {% for instance in objects %}
                        {% if instance.floor == floor %}
                         <div class="col-sm-6 col-md-4">
                            <div class="panel" {% if instancej.room_images.first.image %} style="z-index:1;background-image: url('{{ instance.room_images.first.image.crop.400x400 }}');" {% endif %}>
                                <div class="panel-body">
                                    <div id="ribbon{{instance.id}}" class="ribbon-container {% if not instance.is_booked %}hidden{% endif %}">
                                        <div class="ribbon bg-danger">Booked</div>
                                    </div>
                                    <div class="media no-margin text-whi" style="z-index: 2;">
                                        <div class="media-body">
                                            <h3 class="no-margin text-semibold">{{instance.name}}</h3>
                                            <span>&nbsp;<br></span>
                                            <div class="">
                                               <span class="text-size-small" data-popup="tooltip" title="Day time" data-placement="top">
                                                   <i class="icon-sun3 text-muted"></i>
                                                   <span class="text-size-small">{{instance.price.currency}}. {{instance.get_daytime_price}}</span>
                                               </span> <br>
                                                <span class="text-size-small" data-popup="tooltip" title="Nightly charge" data-placement="top">
                                                   <i class="icon-contrast text-muted"></i>
                                                    <span class="text-size-small">{{instance.price.currency}}. {{instance.get_nightly_price}}</span>
                                               </span>
                                            </div>

                                        </div>

                                        <div class="media-right media-middle">
                                            <i class="icon-bed2 icon-3x text-blue-400"></i>
                                        </div>
                                    </div>

                                </div>

                                <div class="panel-footer panel-footer-condensed">
                                    <div class="heading-elements not-collapsible">
                                        <span class="heading-text">

                                             <span id="detailbtn{{instance.id}}" data-detailurl="{% url 'dashboard:room-detail' pk=instance.pk %}" data-pk="{{instance.pk}}" data-name="{{instance.name}}" class=" pull-right label label-primary cursor-pointer animated bounceIn book-room-detail-btn {% if not instance.is_booked %} x {% endif %} hvr-glow btn-raised legitRipple">
                                                Detail
                                            </span>

                                        </span>
                                        <!--book button-->
                                        <span id="bookbtn{{instance.id}}" data-pk="{{instance.pk}}" data-name="{{instance.name}}" class="heading-text pull-right label label-success cursor-pointer animated bounceIn book-room-btn {% if instance.is_booked %} hidden {% endif %} hvr-glow btn-raised legitRipple">
                                            Book
                                        </span>
                                        <!--invoice button -->
                                        <span id="invoicebtn{{instance.id}}" data-pk="{{instance.pk}}" data-name="{{instance.name}}" class="heading-text pull-right label label-success cursor-pointer animated bounceIn invoice-room-btn {% if not instance.is_booked %} hidden {% endif %} hvr-grow-shadow hvr-glow btn-raised legitRipple">
                                            <a href="{% url 'dashboard:booking-invoice' pk=instance.pk %}" class="text-white" >Invoice</a>
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        {% endif %}
                        {% endfor %}

                    </div>
                    {% endfor %}
                    <!--./first-->
                    <div class="tab-pane" id="second-floor">
                        No rooms
                    </div>


                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
<!--booking modal-->
<div id="booking-modal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h6 class="modal-title">Create a Booking</h6>
            </div>

            <div id="form-content">
                <div class="modal-body">
                   loading
                </div>

                <div class="modal-footer">
                    <button type="button" disabled class="btn disabled btn-link" data-dismiss="modal">Close</button>
                    <button type="button" disabled class="btn  disabled btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--./booking modal-->
{% csrf_token %}
<input type="hidden" class="pageUrls"
       data-bookurl="{% url 'dashboard:booking-add' %}"
      >
{% endblock %}

{% block custom_js %}
<script type="text/javascript" src="{% static 'backend/js/room/list-room.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/plugins/forms/selects/bootstrap_multiselect.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/pages/form_multiselect.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/plugins/forms/selects/bootstrap_select.min.js' %}"></script>

<script type="text/javascript" src="{% static 'backend/js/plugins/pickers/datepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/plugins/pickers/datetimepicker/bootstrap-datetimepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/plugins/tokenize/tokenize2.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/plugins/pickers/daterangepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/core/libraries/jquery_ui_widgets.min.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/plugins/vue/vue.min.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/booking/vue/booking.js' %}"></script>
<script >
    /* render select field */
    // Basic select
    $('.bootstrap-select').selectpicker();

    <!-- remove select duplicates when editing -->
    var map = {};
    $("#price_type").each(function(){
        var value = $(this).text();
        if (map[value] == null){
            map[value] = true;
        } else {
            $(this).remove();
        }
    });

</script>
{% endblock %}